// @tailwind base; <- do not addCode feature
@tailwind components;
@tailwind utilities;

.login__brand {
  display: none;
}

.login__Logo {
  text-align: center;
  padding: 2.5rem 5rem;
}

.collection-list,
.document-fields {
  .table {
    display: block;

    .cell-_select {
      width: 1%;
    }
  }
}
