.bg-noise {
  color: var(--color);
  background-color: var(--color);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256"><filter id="a"><feTurbulence baseFrequency=".35" numOctaves="3" result="turbulence" stitchTiles="stitch" type="fractalNoise"/></filter><mask id="b"><rect width="100%" height="100%" fill="%23fff" filter="url(%23a)"/></mask><rect width="100%" height="100%" fill="%23fff" mask="url(%23b)" opacity=".1"/></svg>');
}

.bg-noise-light {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256"><filter id="a"><feTurbulence baseFrequency=".35" numOctaves="3" result="turbulence" stitchTiles="stitch" type="fractalNoise"/></filter><mask id="b"><rect width="100%" height="100%" fill="%23fff" filter="url(%23a)"/></mask><rect width="100%" height="100%" fill="%23E5E3DC"/><rect width="100%" height="100%" fill="%23fff" mask="url(%23b)"/></svg>');
}

.bg-noise-dark {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256"><filter id="a"><feTurbulence baseFrequency=".35" numOctaves="3" result="turbulence" stitchTiles="stitch" type="fractalNoise"/></filter><mask id="b"><rect width="100%" height="100%" fill="#fff" filter="url(#a)"/></mask><rect width="100%" height="100%" fill="#E5E3DC"/><rect width="100%" height="100%" fill="#fff" mask="url(#b)"/></svg>');
}

html[data-theme='light'] {
  .ladle-background {
    --color: black;
    @apply bg-noise-light;
  }
}

html[data-theme='dark'] {
  .ladle-background {
    --color: #1f1f1f;
    @apply bg-noise;
  }
}
