.payload-toast-container {
  --offset: calc(var(--gutter-h) / 2);

  margin: 0;
  padding: 0;

  .payload-toast-close-button {
    position: absolute;
    order: 3;
    left: unset;
    inset-inline-end: 1em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--theme-elevation-600);
    background: unset;
    border: none;

    svg {
      width: 1em;
      height: 1em;
    }

    &:hover {
      color: var(--theme-elevation-250);
      background: none;
    }

    [dir='RTL'] & {
      right: unset;
      left: 0.5rem;
    }
  }

  .toast-title {
    line-height: 1.25em;
    margin-right: 1.25em;
  }

  .payload-toast-item {
    padding: 1em;
    color: var(--theme-elevation-800);
    font-style: normal;
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--theme-border-color);
    background: var(--theme-input-bg);
    box-shadow:
      0 10px 4px -8px rgba(0, 2, 4, 0.02),
      0 2px 3px 0 rgba(0, 2, 4, 0.05);

    .toast-content {
      transition: opacity 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      width: 100%;
    }

    &[data-front='false'] {
      .toast-content {
        opacity: 0;
      }
    }

    &[data-expanded='true'] {
      .toast-content {
        opacity: 1;
      }
    }

    .toast-icon {
      width: 1em;
      height: 1em;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        width: 1.5em;
        height: 1.5em;
      }
    }

    &.toast-warning {
      color: var(--theme-warning-800);
      border-color: var(--theme-warning-250);
      background-color: var(--theme-warning-100);

      .payload-toast-close-button {
        color: var(--theme-warning-600);

        &:hover {
          color: var(--theme-warning-250);
        }
      }
    }

    &.toast-error {
      color: var(--theme-error-800);
      border-color: var(--theme-error-250);
      background-color: var(--theme-error-100);

      .payload-toast-close-button {
        color: var(--theme-error-600);

        &:hover {
          color: var(--theme-error-250);
        }
      }
    }

    &.toast-success {
      color: var(--theme-success-800);
      border-color: var(--theme-success-250);
      background-color: var(--theme-success-100);

      .payload-toast-close-button {
        color: var(--theme-success-600);

        &:hover {
          color: var(--theme-success-250);
        }
      }
    }

    &.toast-info {
      color: var(--theme-elevation-800);
      border-color: var(--theme-elevation-250);
      background-color: var(--theme-elevation-100);

      .payload-toast-close-button {
        color: var(--theme-elevation-600);

        &:hover {
          color: var(--theme-elevation-250);
        }
      }
    }
  }
}
