@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --font-sans:
      'SP Pro Text', -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', 'Segoe UI',
      'Helvetica Neue', Arial, sans-serif;
    --font-mono:
      SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --radius: 0.625rem;

    /* Colors */
    --background: 0 0% 99%;
    --foreground: 0 0% 27%;

    --card: 0 0% 95%;
    --card-foreground: 0 0% 47%;

    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 47%;

    --primary: 210 43% 57%;
    --primary-foreground: 0 0% 99%;

    --secondary: 0 0% 67%;
    --secondary-foreground: 0 0% 99%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 47%;

    --accent: 35 97% 62%;
    --accent-foreground: 0 0% 99%;

    --destructive: 4 83% 63%;
    --destructive-foreground: 0 0% 99%;

    --border: 0 0% 47%;
    --input: 0 0% 47%;
    --ring: 222 84% 5%;

    --success: 153 45% 53%;
    --warning: 35 97% 62%;
    --error: 4 83% 63%;
    --error-bg: 4 100% 93%;
  }

  [data-theme='dark'] {
    --background: 0 0% 27%;
    --foreground: 0 0% 95%;

    --card: 0 0% 47%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 47%;
    --popover-foreground: 0 0% 95%;

    --primary: 210 43% 52%;
    --primary-foreground: 0 0% 94%;

    --secondary: 0 0% 62%;
    --secondary-foreground: 0 0% 94%;

    --muted: 0 0% 47%;
    --muted-foreground: 0 0% 95%;

    --accent: 35 97% 57%;
    --accent-foreground: 0 0% 95%;

    --destructive: 4 83% 58%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 52%;
    --input: 0 0% 32%;
    --ring: 213 27% 84%;

    --success: 153 45% 48%;
    --warning: 35 97% 57%;
    --error: 4 83% 58%;
    --error-bg: 4 100% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #222;
  }
}

[data-theme='dark'],
[data-theme='light'] {
  opacity: initial;
}

.bordered {
  @apply border border-solid border-[purple];
}

.hoverable {
  @apply transition duration-200;

  &:hover {
    @apply brightness-[1.15] contrast-[1.1] hue-rotate-[-3deg];
  }
}

[data-theme='dark'] {
  .hoverable:hover {
    @apply brightness-[0.9] contrast-[1.1] saturate-[1.2];
  }
}
